:root{
  --bg-light:#fafafa;
  --bg-dark:#0f1724;
}

body{
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  margin:0;
  padding:0;
  background:var(--bg-light);
}

.dark{
  background:var(--bg-dark);
}
